<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - Announcer</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/line-awesome/css/line-awesome.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/line-awesome/css/line-awesome.min.css" rel="stylesheet" />
    </environment>

    @RenderSection("Header", required: false)

    <environment include="Development">
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>
</head>

<body>
    <div class="layout">
        <!-- Navigation -->
        <div class="navigation navbar navbar-light justify-content-center py-xl-7">
            <!-- Brand -->
            <a asp-area="" asp-page="/Index" class="d-xl-block mb-6 mr-8 mr-xl-0">
                <img src="~/img/announcer_logo.svg" height="70" class="mx-auto fill-primary" data-inject-svg="">
            </a>

            <!-- Menu -->
            <partial name="_MenuPartial" />
            <!-- Menu -->
        </div>
        <!-- Navigation -->
        <!-- Main Content -->
        @RenderBody()
        <!-- Main Content -->
    </div>
    <!-- Layout -->

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/lib/sweetalert/sweetalert.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/sweetalert/sweetalert.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>