@page
@model IndexModel
@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="main">
    <!-- Page -->
    <div class="page">
        <!-- Page Body -->
        <div class="page-body">
            <!-- Page Header -->
            <div class="page-header border-bottom d-flex justify-content-between py-4 py-lg-6 px-6 px-lg-8">
                <h2 class="font-bold">Hoşgeldiniz</h2>
            </div>
            <!-- Page Header -->
            <!-- Page Content-->
            <div class="page-content p-6 p-lg-8">
                <h3>Announcer'a hoşgeldiniz</h3>
            </div>
            <!-- Page Content -->
        </div>
        <!-- Page Body -->
    </div>
    <!-- Page -->
</div>
