@page "{id?}"
@model NotificationsModel
@{
    Layout = null;
}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Announcer - Mesajlar</title>

    <environment include="Development">
        <link href="~/css/notifications.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/notifications.min.css" rel="stylesheet" />
    </environment>
</head>

<body>
    <div id="loader-wrapper" class="loader-wrapper" hidden>
        <div id="loader" class="loader">
            <div class="inner one"></div>
            <div class="inner two"></div>
            <div class="inner three"></div>
            <div class="message">Bağlanıyor...</div>
        </div>
    </div>
    <div class="layout">
        <header>
            <div id="brand" class="brand">
                <img src="~/img/saglik_bakanligi_logo.svg" />
            </div>
            <div class="organization-name">Başakşehir Şehir Hastanesi</div>
            <div id="qrcode" class="qrCode"></div>
            <div id="clock" class="clock"></div>
        </header>

        <main>
            <div id="notifications" class="notifications">
                <div id="notifications-header" class="notifications-header"></div>
            </div>
        </main>

        <div id="error-pane" class="error-pane" style="display: none">
            <h3>Hata: <span id="error-message"></span></h3>
        </div>
        <div id="debug"></div>
        <footer>
            <div id="copyright">Announcer &copy; 2020</div>
            <div id="update-info">
                <b>Son güncelleme:</b>
                <span id="last-update"></span>
            </div>
            <div id="client-info">
                <b>İstemci:</b>
                <span id="client-id"></span>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/signalr/signalr.js"></script>
        <script src="~/js/qrcode.js"></script>
        <script src="~/js/notifications.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/signalr/signalr.min.js"></script>
        <script src="~/js/qrcode.min.js"></script>
        <script src="~/js/notifications.min.js"></script>
    </environment>

    <script>
        var isMobile = {
            Android: function () { return navigator.userAgent.match(/Android/i); },
            BlackBerry: function () { return navigator.userAgent.match(/BlackBerry/i); },
            iOS: function () { return navigator.userAgent.match(/iPhone|iPad|iPod/i); },
            Opera: function () { return navigator.userAgent.match(/Opera Mini/i); },
            Windows: function () { return navigator.userAgent.match(/IEMobile/i); },
            any: function () { return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows()); }
        };

        if (isMobile.any()) {
            var notifications = document.getElementById('notifications');
            var notificationsHeader = notifications.firstElementChild;

            notifications.style.paddingTop = notificationsHeader.offsetHeight + 'px';
            notificationsHeader.style.position = 'fixed';
            notificationsHeader.style.top = '60px';
            notificationsHeader.style.left = '0';
            notificationsHeader.style.width = '100%';
        }

        function showDebugInfo() {
            document.getElementById('debug').innerText = '(' + window.innerWidth + 'x' + window.innerHeight + ') ' + window.orientation;
            console.log('isMobile: ', isMobile.any());
        }
        window.addEventListener('resize', showDebugInfo);

        showDebugInfo();

        // Start displaying clock
        displayClock();

        // Set client id
        var clientId = setClientId("@Model.ClientIP");

        // Start the connection.
        start();
    </script>
</body>
</html>