@page
@model NotificationsModel
@{
    Layout = null;
}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Announcer - Mesajlar</title>

    <environment include="Development">
        <link href="~/css/notifications.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/notifications.min.css" rel="stylesheet" />
    </environment>
</head>

<body>
    <div class="layout">
        <header>
            <div id="brand" class="brand">
                <img src="~/img/saglik_bakanligi_logo.svg" />
            </div>
            <div class="organization-name">Başakşehir Şehir Hastanesi</div>
            <div id="clock" class="clock"></div>
        </header>

        <main>
            <div id="notifications" class="notifications">
                <div id="notifications-header" class="notifications-header"></div>
            </div>
        </main>

        <div id="error-pane" class="error-pane" style="display: none">
            <h3>Hata: <span id="error-message"></span></h3>
        </div>
        <div id="qrcode" class="qrCode"></div>

        <footer>
            <div id="copyright">Announcer &copy; 2020</div>
            <div id="update-info">
                <b>Son güncelleme:</b>
                <span id="last-update"></span>
            </div>
            <div id="client-info">
                <b>İstemci:</b>
                <span id="client-id"></span>
            </div>
        </footer>
    </div>

    <script>
        var clientIP = "@Model.ClientIP";
    </script>

    <environment include="Development">
        <script src="~/lib/signalr/signalr.js"></script>
        <script src="~/js/qrcode.js"></script>
        <script src="~/js/notifications.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/signalr/signalr.min.js"></script>
        <script src="~/js/qrcode.min.js"></script>
        <script src="~/js/notifications.js"></script>
    </environment>
</body>
</html>