@page
@model ClientsModel
@{
    ViewData["Title"] = "İstemciler";
}

@section Header
{
    <environment include="Development">
        <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    </environment>
}

<div class="main">
    <!-- Page -->
    <div class="page">
        <!-- Page Body -->
        <div class="page-body">
            <!-- Page Header -->
            <div class="page-header border-bottom d-flex justify-content-between py-4 py-lg-6 px-6 px-lg-8">
                <h2 class="font-bold">@ViewData["Title"]</h2>
            </div>
            <!-- Page Header -->
            <!-- Page Content-->
            <div class="page-content p-6 p-lg-8">
                <!-- Card -->
                <div class="card">
                    <!-- Card Header -->
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="form-group mb-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text border-0"><i class="las la-search la-lg"></i></div>
                                    </div>
                                    <input class="form-control form-control-sm" type="search" placeholder="Ara" id="search">
                                </div>
                            </div>
                            <div class="form-group form-inline mb-0">
                                <label for="status" class="mr-4">Durum:</label>
                                <select id="status" class="custom-select custom-select-sm">
                                    <option value="">Hepsi</option>
                                    <option value="1">Aktif</option>
                                    <option value="0">Silindi</option>
                                </select>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary btn-sm" onclick="displayAddModal()"><i class="las la-plus"></i> Yeni İstemci</button>
                            </div>
                        </div>
                    </div>
                    <!-- Card Header -->
                    <!-- Card Body -->
                    <div class="card-body">
                        <table id="clients" class="stripe" style="width:100%">
                            <thead>
                                <tr>
                                    <th>İstemci No</th>
                                    <th>İstemci Adı</th>
                                    <th>İstemci Açıklaması</th>
                                    <th>Grup Üyeliği</th>
                                    <th>Gönderilen Mesaj</th>
                                    <th>Alınan Mesaj</th>
                                    <th>Durumu</th>
                                    <th class="text-center">Aksiyon</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- Card Body -->
                </div>
                <!-- Card -->
            </div>
            <!-- Page Content -->
        </div>
        <!-- Page Body -->
    </div>
    <!-- Page -->
</div>

<!-- Modal -->
<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form id="add-edit-form" action="javascript:void(0);">
                <div class="modal-header px-4">
                    <h5 class="modal-title" id="modal-title">Yeni İstemci</h5>
                </div>
                <div class="modal-body px-4">
                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" for="client-id">İstemci No</label>
                                <input class="form-control" type="text" id="client-id" name="client-id" value="" readonly required />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" for="client-name">İstemci Adı</label>
                                <input class="form-control" type="text" id="client-name" name="client-name" value="" required />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" for="client-description">Açıklama</label>
                                <textarea class="form-control" id="client-description" name="client-description" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer px-4">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="las la-ban mr-1"></i> İptal</button>
                    <button type="button" class="btn btn-primary" id="modal-save-button" onclick="save()"><i class="las la-save"></i> Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <environment include="Development">
        <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
        <script src="~/js/admin/clients-service.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/js/admin/clients-service.min.js"></script>
    </environment>
}