@page
@model IndexModel
@{
    ViewData["Title"] = "Yönetim";
}

<div class="container-fluid">
    <h1>Yönetim</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index">Ana Sayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page"><i class="mdi mdi-settings"></i> Yönetim</li>
        </ol>
    </nav>

    <h2>Yönetim Ekranına Hoşgeldiniz</h2>
</div>